<footer class="footer">
  <div class="container">
    <div class="social-icons">
      <a href="#" class="social-icon"><img src="instagram.svg" alt="Instagram"></a>
      <a href="#" class="social-icon"><img src="instagram.svg" alt="X"></a>
      <a href="#" class="social-icon"><img src="instagram.svg" alt="Facebook"></a>
    </div>
  </div>
</footer>
