<ul class="nav justify-content-center navbar-custom">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="<%= root_path %>">Devotion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= roasters_path %>">Roasters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= shops_path %>">Shops</a>
  </li>
</ul>
