<div class="card-trip position-relative">
  <%= image_tag("https://images.unsplash.com/photo-1522787345986-d5c7885a889e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=415&amp;q=80", class: "card-img-top", alt: "Product Image") %>

  <div data-controller="favorite-heart" data-action="click->favorite-heart#toggleFavorite">
    <%= link_to '#', class: 'favorite-heart' do %>
      <i class="fa fa-heart-o" data-target="favorite-heart.heartIcon"></i>
    <% end %>
  </div>

  <div class="card-trip-infos">
    <div>
      <%= link_to "Kawa", "#", class: "card-title", style: "text-decoration: none;" %>
      <p>From Paris with Love</p>
    </div>
    <h2 class="card-trip-pricing">£19 (250gr)</h2>
  </div>
</div>
