<div class="card-trip position-relative">
  <%= image_tag("https://res.cloudinary.com/difj9msh3/image/upload/v1695482492/39C60CA7-7514-4A70-A751-6735BABE7A4C_mf3npu.jpg", class: "card-img-top", alt: "Product Image", width: 414, height: 276) %>

  <div data-controller="favorite-heart" data-action="click->favorite-heart#toggleFavorite">
    <%= link_to '#', class: 'favorite-heart' do %>
      <i class="fa fa-heart-o" data-target="favorite-heart.heartIcon"></i>
    <% end %>
  </div>

  <div class="card-trip-infos">
    <div>
      <%= link_to "Gardelli", "#", class: "card-title", style: "text-decoration: none;" %>
      <p>Forlì FC, Italy</p>
    </div>
    <h2 class="card-trip-pricing">£19 (250gr)</h2>
  </div>
</div>
