
<div class="card-product" style="display: flex;">
  <%= cl_image_tag("https://res.cloudinary.com/difj9msh3/image/upload/v1695482498/IMG_0289_g1i6k6.heic",
      width: 500, height: 300, crop: :fill) %>
  <div class="card-product-infos">
    <h2>Kawa</h2>
    <p>this is a very nice <strong>coffee</strong> for real.</p>
  </div>
</div>
