      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1522787345986-d5c7885a889e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=420&amp;q=80">
        <div class="card-trip-infos">
          <div>
            <h2>Kawa</h2>
            <p>From Paris with Love</p>
          </div>
          <h2 class="card-trip-pricing">£19 (250gr)</h2>
        </div>
      </div>
