
<div class="card-product" style="display: flex;">
  <img src="http://kitt.lewagon.com/placeholder/cities/paris">
  <div class="card-product-infos">
    <h2>Kawa</h2>
    <p>this is a very nice <strong>coffee</strong> for real.</p>
  </div>
</div>
