<%= render "shared/navbar" %>

<div class="background" style="background-image: url('https://res.cloudinary.com/difj9msh3/image/upload/v1695482480/IMG_0425_xtbfav.heic');">
    <div class="container">
    <div class="row">
      <!-- ðŸ‘ -->
      <div class="col-6">
        <div class="card bg-light">
          ðŸ˜€
        </div>
      </div>
    </div>
    </div>
</div>
