/* carousel.scss */

.carousel {
  max-width: 480px; /* Set carousel to half of the container's width */
  margin: 0 auto; /* Center the carousel within its container */

  &-caption {
    text-shadow: none; /* Remove text shadow if needed */
  }

  &-inner {
    .carousel-item {
      position: relative;

      img {
        width: 80%;
        height: auto;
      }

      .carousel-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1.25rem;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust background color and opacity */
        color: #fff; /* Text color */
      }
    }
  }
}
