.navbar-custom {
  position: sticky; /* Set the navbar to fixed position */
  background-image: linear-gradient(to right, #ffffff, #d2a887); /* Transition from white to light brown */
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 18px 0;
}

.nav-item {
  margin: 0 24px;
}

.nav-link {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
